@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", Arial, sans-serif;
}

.color_orange {
  background-color: orange;
}

.color_vert {
  background-color: green;
}

.color_jaune {
  background-color: yellow;
}
.color_rose {
  background-color: pink;
}
.color_violet {
  background-color: purple;
}
.color_bleu {
  background-color: blue;
}
.color_blanc {
  background-color: white;
}
.color_noir {
  background-color: black;
}
.color_rouge {
  background-color: red;
}
